@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&family=Rasa&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: BenchNine, sans-serif;
    font-weight: 400;
}

/* headings */

h1, h2 {
    font-family: BenchNine, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: aliceblue;
}

/* navigation */

#menu a {
    text-decoration: none;
    
}