@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&family=Rasa&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: BenchNine, sans-serif;
    font-weight: 400;
}

/* headings */

h1, h2 {
    font-family: BenchNine, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: aliceblue;
    background-color: black;
    text-align: center;
}

header a {
    text-decoration: none;
}

/* navigation */

a:link {
    color: aliceblue;
    background-color: black;
}

a:visited {
    color: aliceblue;
    background-color: black;
}

a:hover {
    color: aqua;
    background-color: rgb(34, 32, 32);
}

a:active{
    color: aqua;
    background-color: rgb(34, 32, 32);
}

li {
    display: inline-block;
    float: right;
    padding: 10px;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
}