@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&family=Rasa&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: BenchNine, sans-serif;
    font-weight: 400;
}